.btn {
    &:link,&:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }
    
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 5px 10px rgba($color-black,0.2); 

        &::after {
            transform: scaleX(1.4) scaleY(1.4);
            opacity: 0;
        } 
    }
    
    &:active {
        transform: translateY(-0.1rem);
    }

    &--white {
        background-color: #fff;
        color: rgb(173, 124, 124);

       &::after{
            background-color: #fff;
        }
    } 

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute; 
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
    
    &--animated {
        animation: moveInButton 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}
